.jumbotron p{
	margin-top: 10px;
	font-size: 24px;
	font-style: italic;
}
.buttonForm,.col-md-7{
	margin: 5px;
	margin-left: 30px;
}
.rating{
	background: teal;
	padding: 10px;	
}

.container{
	margin-top: 20px;
}
body{
	background-image: url('../images/back.jpg');
}

.main-content{
	
	width: 100%;
}
.animalBtn{
	margin: 5px;
}

.animalDiv {display: inline-block;
			margin: 20px 10px 20px 20px;
			clear: both;}	

.gif{
	border: solid;
}
img{
	height: 200px;
	width: 220px;
}

#animalArea{
	margin-left: 170px;
}