.jumbotron p{
	margin-top: 10px;
	font-size: 24px;
	font-style: italic;
	background: "teal";

}
.buttonForm,.col-md-7{
	margin: 5px;
	margin-left: 30px;
}
.ratingP{
	background: "teal";
}

.animalBtn{
	margin: 5px;
}

.animalDiv {display: inline-block;
			margin: 20px 10px 20px 20px;
			clear: both;}	

.gif{
	border: solid;
}
img{
	height: 200px;
	width: 220px;
}

#animalArea{
	margin-left: 170px;
}